#include "Sofle.dtsi"

/* Offset right half into columns 6–11 */
&default_transform {
    col-offset = <6>;
};

/* Reverse column order for mirrored right half */
&kscan0 {
    col-gpios
        = <&pro_micro 10 GPIO_ACTIVE_HIGH>
        , <&pro_micro 16 GPIO_ACTIVE_HIGH>
        , <&pro_micro 14 GPIO_ACTIVE_HIGH>
        , <&pro_micro 15 GPIO_ACTIVE_HIGH>
        , <&pro_micro 18 GPIO_ACTIVE_HIGH>
        , <&pro_micro 19 GPIO_ACTIVE_HIGH>
        ;
};

/* Disable encoders while debugging */
&right_encoder {
    status = "disabled";
};

/* Remove display + underglow from chosen */
 / {
    chosen {
        /delete-property/ zephyr,display;
        /delete-property/ zmk,underglow;
        zmk,battery = &vbatt;
    };

    vbatt: vbatt {
        compatible = "zmk,battery-nrf-vddh";
    };
};

/* Disable I2C bus (OLED) on right half */
&pro_micro_i2c {
    status = "disabled";
};
