#include "Sofle.dtsi"

/*
 * Right half (peripheral)
 * - Map right-half keys into columns 6–11 of the combined transform.
 * - Reverse column order to match mirrored Sofle PCB wiring.
 */

&default_transform {
    col-offset = <6>;
};

&kscan0 {
    col-gpios
        = <&pro_micro 10 GPIO_ACTIVE_HIGH>
        , <&pro_micro 16 GPIO_ACTIVE_HIGH>
        , <&pro_micro 14 GPIO_ACTIVE_HIGH>
        , <&pro_micro 15 GPIO_ACTIVE_HIGH>
        , <&pro_micro 18 GPIO_ACTIVE_HIGH>
        , <&pro_micro 19 GPIO_ACTIVE_HIGH>
        ;
};

# Enable the right encoder (or leave disabled if you don't have one).
&right_encoder {
    status = "okay";
};

 / {
    chosen {
        zmk,battery = &vbatt;
    };

    vbatt: vbatt {
        compatible = "zmk,battery-nrf-vddh";
    };
};
